# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Model / cache (nếu có)
*.pt
*.onnx
*.weights

# Logs
*.log

# External git repo
sort/

#debug image
debug_thresh.jpg
